*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  margin: 0px;
  padding: 0px;
}

body{
  width: 100%;
  min-height: 100vh;
  
}

.collapse{
  align-items: center;
  justify-content: center;

}


.logoweb{
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: -100px;
 
}


.navbar{
  width: 100%;
 margin: 0px auto ;
  position: fixed;
  height: 100px;

 align-items: center;
 justify-content: center;
 z-index: 6;
}



.nav-link{
  color: white !important ;
}

.nav-link.active{
  border-bottom: 2px solid white;
}




.nav-item{
 
  padding-right: 30px;
  padding-left: 25px;
 
}

.logout{
  background-color: #0088a9;
  padding: 5px;
  color: white;
  outline: none;
  border: none;
}



.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu li a {
  float: none;
  color: black;
  padding: 12px 16px;
  word-wrap: break-word;
  white-space: normal;
  text-decoration: none;
  display: block;

}


.dropdown-menu a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover  .dropmenu{
  display: block;
}

.nav-item:hover {
  background-color: #0088a9;
 border-radius: 30px;
}

.nav-item:hover .nav-link{
  color: white;
}

.webpage{
  padding-top: 70px;
  padding-left: 10px;
}
.content
{
 
    display: flex;
    width: 100%;
} 

.txt{
 width: 50%;

   
    

}

.image{
 display: block;
 margin-left: auto;
 margin-right: auto;
  width: 60%;
 
  transition: 0.5s;
  object-fit: cover;
  height: 100%;
 
}

.content img{
 height: 300px;
 width: auto;
}

.comp{
  font-size: 20px;
}
.progressbar{
  display: flex;
  width: 100%;
}


.country{
  width: 50%;
  font-size: 25px;
  color: blue;
}


.circular{
  position: relative;
  margin-left: auto;
  margin-right: 50px;
  height: 130px;
  width: 130px;
  background-color:  #FFFFFF;
  border-radius: 50%; 
  display: grid;
  place-items: center;
 
}

.circular:before{
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  border-radius: 50%;
  background-color: white;
 



}


.value-circular{
  position: relative;
  font-family: "Poppins",sans-serif;
  font-size: 30px;
}
.student{
 padding-top: 40px;
 font-size: 20px;
 padding-right: 10px;
 margin-left: -40px;
}
.courses{
  background-color: red;
  color: white;
  width: fit-content;
  padding-inline: 20px 20px;
 margin-top: 25px;
 padding-top: 10px;
 padding-bottom: 0.5px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  line-height: 20px;
}

.courses:hover{
  cursor: pointer;
}
.courselist{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.list{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 80%;
  margin: auto;
  align-items: center;
 
 
}

.li{

  
  width: 75%;
    word-spacing: 10px;
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 25px;
    border-radius: 10px;
   
  
    background:  #333;
    
   
}

.l{
  justify-content: center;
 word-spacing: 10px;
 display: flex;
 font-size: 20px;
 box-sizing: border-box;
 padding-top: 10px;
 line-height: 25px;
 border-radius: 10px;
 padding-right: 10px;
 background:   #333;
 border-top:2px solid #FF5F6D ;
 border-bottom: 2px solid #FF5F6D;
 color: white;
 margin-right: 0px;
 
 
}



  
  
  
 


.l:hover{
  background: linear-gradient(90deg in oklab,#FF512F , #DD2476);
  transform: translateY(-15%);
  cursor: pointer;
}

.courselogo{
  width: 50px;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 10px;
  object-fit: cover;
 
  
}
.coursetext{
  padding-top: 10px;
  justify-content: right;
}

.l .coursetext{
  text-align: right;
}

.teacher{
  text-align: center;
}

.teachertxt{
  margin-top: 50px;
  font-size: 32px;
}


.box{
  display: flex;
  width: 60%;
  margin: auto;
 gap: 15px;
  height: 300px;
}


.block{
  height: 100%;
  width: 33%;
  border: 1px solid black;
padding-top: 10px;
  background: #FF512F;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: 400ms;
 
}

.block p{
  font-size: 20px;
  color: #00093c;
}

.block:hover{
  transform: translateY(-10px);
  cursor: pointer;
}
.teach{
  border-radius: 100%;
  height: 100px;
 width: 100px;
 padding-top: 5px;
 object-fit: cover;


}

footer{
  width: 100%;
  position: relative;
  bottom: 0;
  background: linear-gradient(to right,#00093c,#2d0b00);
  margin-bottom: 0px;
  padding-top: 50px;
 margin-top: 50px;
 color: white;
 border-top-left-radius: 125px;
 
}

.row{
  display: flex;
  width: 85%;
  margin: auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

footer img{
  height: 150px;
  width: 150px;
 
  object-fit: cover;
}

.col{
  flex-basis: 25%;
  padding: 10px;
  
}
.quicklinks{
  color: white;
  display: flex;
  flex-direction: column;
}

.col h5{
  color: yellow;
}

.col h4{
  margin-left: -50px;
}

.followus{
  padding-top: 20px;
}

.followus img{
  height: 20px;
  width: 20px;
 margin-left: 7px;
}
.copyright{
  text-align: center;
  padding-bottom: 10px;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: RGB(0, 136, 169); 
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: white;
}


.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 500;
  transition-duration: 0.3s;
}



.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}


.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}


.Btn:active {
  transform: translate(2px, 2px);
}

.box .block:hover {
  transform: scale(1.1, 1.1);

}

.box:hover > .box.block:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.chatbot {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #FF4D00;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-body {
  padding: 10px;
  height: 300px;
  overflow-y: auto;
}

.message {
  margin: 5px 0;
}

.bot-message {
  color: black;
  width: 80%;
background-color: rgb(255,219,187,0.5);
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
}

.user-message {
  color: white;
  background-color: green;
  background-size: auto;
  text-align: right;
  border-radius: 10px;
  padding: 5px;
  margin-left: auto; 
  max-width: fit-content;
  word-wrap: break-word; 
}


#user-input {
  border: none;
  padding: 10px;
  width: calc(100% - 20px);
}

#open-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
 
  color: white;
  border: none;

  border-radius: 50%;
  cursor: pointer;
}


.chat-input {
  display: flex;
  padding: 10px;
  
}

#user-input {
  border: none;
  padding: 10px;
  width: calc(100% - 80px); 
  
}

#send-button {
  background-color: #FF4D00;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
#close-chat{
  width: 50px;
}

.chatbotimage{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.nav-itme{
  margin-left: auto;
  margin-right: auto;
}
.lgot {
  padding: 1em 2.8em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
 }
 
 .lgot::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .lgot:hover::before {
  width: 105%;
 }
 
 .lgot:hover {
  color: #111;
 }

@media (max-width: 768px) {
  .navbar {
    padding: 10px; 
  }

  .nav-item {
    padding: 10px 0; 
  }

  .courses {
    font-size: 18px; 
  }

  .txt {
    width: 100%; 
    padding: 30px; 
  }

  .image {
    width: 100%; 
    height: auto; 
  }

  .circular {
    margin: 20px auto; 
  }

  .li {
    width: 100%; 
    margin: 10px 0; 
  }

  .block {
    width: 100%; 
    margin: 10px 0; 
  }

  .chatbot {
    width: 90%; 
    bottom: 10px; 
  }

  .content{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  

  .row{
    display: flex;
    flex-direction: column;
   
  }

  .row .col.one{
    text-align: center;
  }
 

  footer{
    border-top-left-radius: 0px;
  }
  
  

  
}

@media (max-width: 1000px) {
  #offcanvasButton {
    display: '';
    position: fixed;
    pointer-events: initial;
  }


  
  
  .offcanvas-body{
    padding-left: 0px;
  }

  .offcanvas-body .nav-lin{
    text-decoration: none;
  }
  .navbar{
    display: none;
  }


  .nav-itm a{
    
    display: flex;
    padding: 1.25rem 1.5rem;
    justify-content: space-between;
    transition: background-color .3s;
    width: 330px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 0px;
   
  }

  .nav-itm a:hover{
    background-color:  #eee;
  }

  

  .nav-lin{
    color: black;
    border-bottom: none;
    font-weight: 600;

  }

  .nav-lin.active{
    background: rgb(12,175,255,0.4);
  }
  

  .txt { 
    padding-top: 30px;
    padding-left: 10px; 
  }

  .progressbar{
    display: flex;
    flex-direction: column;
   
  }

  .country{
    width: 100%;
    text-align: center;
  }

  .circular{
    margin-left: auto;
    margin-right: auto;
  }

  .student{
    margin-left: auto;
    margin-right: auto;
  }

  .webpage{
    padding-left: 0px;
    padding-top: 75px;
  }

  .box{
    min-width: 250px;
    overflow-x: auto;
   
    height: 300px;
  }

  .box::-webkit-scrollbar{
    width: 0;
  }

  .block{
    height: 250px;
  }

  .box .block:hover {
    transform: none;
  
  }

  .box:hover > .box.block:not(:hover) {
    filter: none;
    transform: none;
  }

  .mobileresponsive{
    display: flex;
    position: fixed;
    background-color: #24252A;
    padding: auto;
    height: 75px;
    width: 100%;
    z-index: 10;
  }

  #offcanvasButton{
    background: none;
    font-size: 40px;
    width: 50px;
    border: none;
  }

  .mobileresponsive h3{
    margin: auto;
    color: white;
  }

}

@media (max-width: 1000px) {

.list{
  display: flex;
  flex-direction: column;
}

.li{
  margin-top: 10px;
}


}

@media (max-height : 440px){

  .chatbot{
    width: 50%;
    height: 70%;
  }

}

::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#642bff,#ff22e6);
}